.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 48px;
  max-height: 48px;
}

#vertical-container {
  height: 40vh;
  width: 100%;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p, .titulo {
  cursor: default;
}

.reporte {
  margin: 0px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .titulo {
      color: black;
    }
}

#reporte {
  border-collapse: collapse;
  width: 100%;
}

#reporte td, #reporte th {
  border: 1px solid black;
}

@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
}

