<!DOCTYPE HTML>
<html ng-app="PseudoCodigo">

<head>
    <title>Pseudocódigo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        body {
            padding: 10px;
        }

        textarea {
            font-family: 'Roboto Mono', monospace;
        }
    </style>
</head>

<body ng-controller="PseudoCodigoController as pc">
    <div>
        <h3>Pseudocódigo</h4>
            <p>El código que escribas se guarda automáticamente. La próxima vez que abras el navegador tendrás tu código como lo dejaste.</p>
            <p><a href="#ejecutar">Ejecutar</a>, <a href="#referencia">Referencia</a></p>
            <textarea spellcheck="false" ng-change="pc.procesar()" ng-model="pc.entrada" style="width: 100%; height: 70vh"></textarea>
    </div>
    <div id="ejecutar">
        <h3>Salida JavaScript</h4>
            <p>Ejecuta el Pseudocódigo convertido a JavaScript: <input type="button" ng-click="pc.ejecutar()" value="Ejecutar"> Si no llegara a ejecutarse revisa la consola del navegador para ver el error, en Chrome: Ctrl + Mayus + I, en Firefox: Ctrl + Mayus + K.</p>
            <textarea readonly spellcheck="false" ng-model="pc.salida4" style="width: 100%; height: 70vh"></textarea>
    </div>
    <div id="referencia">
        <h3>Referencia</h4>
            <textarea readonly spellcheck="false" ng-model="pc.referencia" style="width: 100%; height: 70vh"></textarea>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./app.js"></script>

</body>

</html>