<!DOCTYPE HTML>
<html ng-app="PseudoCodigo">

<head>
    <title>Pseudocódigo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
	<link data-name="/vs/editor/editor.main" rel="stylesheet" href="./node_modules/monaco-editor/min/vs/editor/editor.main.css">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        body {
            padding: 15px;
        }
    </style>
</head>

<body ng-controller="PseudoCodigoController as pc">
    <div>
        <h3>Pseudocódigo</h4>
            <p>El código que escribas se guarda automáticamente. La próxima vez que abras el navegador tendrás tu código como lo dejaste.</p>
            <p><a href="#ejecutar">Ejecutar</a>, <a href="#referencia">Referencia</a></p>
			<div id="editor" style="width: 100%; height: 70vh"></div>
    </div>
    <div id="ejecutar">
        <h3>Salida JavaScript</h4>
            <p>Ejecuta el Pseudocódigo convertido a JavaScript: <input type="button" ng-click="pc.ejecutar()" value="Ejecutar">.</p>
            <p ng-if="pc.error"><b style="color: red">Error!</b><br>{{pc.error}}</p>
            <div id="editor2" style="width: 100%; height: 70vh"></div>
    </div>
    <div id="referencia">
        <h3>Referencia</h4>
			<div id="editor3" style="width: 100%; height: 70vh"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>var require = { paths: { 'vs': './node_modules/monaco-editor/min/vs' } };</script>
	<script src="./node_modules/monaco-editor/min/vs/loader.js"></script>
	<script src="./node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
	<script src="./node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="./app.js"></script>

</body>

</html>